.login {
    margin-bottom: 2%;
}

.margin-left {
    margin-left: 10px;
}

.task-list {
    margin-top: 1rem;
    text-align: left;
    /* list-style: none; */
}

.task-item {
    /* font-family: monospace; */
    cursor: pointer;
    line-height: 1.5;
}

.task-item__text--completed {
    text-decoration: line-through;
    color: lightgray;
}
